<row>
    <columns small="0" large="3" class="show-for-large"></columns>
    <columns small="12" large="6">    
    <row>
        <columns small="12" large="5">
            <p class="text-center" ><strong>Мы в соцсетях:</strong></p> 
        </columns>
        
        <columns small="12" large="7">
            <row>
                <columns small="1" large="0"></columns>
                <columns small="2" large="2"><a href=""><img class="float-center max50" width="20" height="20" src="https://raw.githubusercontent.com/GarikGelios/Foundation-for-emails/master/src/assets/img/social%20icons/fb.png" alt=""></a></columns>
                <columns small="2" large="2"><a href=""><img class="float-center max50" width="20" height="20" src="https://raw.githubusercontent.com/GarikGelios/Foundation-for-emails/master/src/assets/img/social%20icons/vk.png" alt=""></a></columns>
                <columns small="2" large="2"><a href="https://www.youtube.com/user/LBRAgromarket/"><img class="float-center max50" width="20" height="20" src="https://raw.githubusercontent.com/GarikGelios/Foundation-for-emails/master/src/assets/img/social%20icons/youtube.png" alt=""></a></columns>
                <columns small="2" large="2"><a href="https://www.instagram.com/lbragro/"><img class="float-center max50" width="20" height="20" src="https://raw.githubusercontent.com/GarikGelios/Foundation-for-emails/master/src/assets/img/social%20icons/instagram.png" alt=""></columns>
                <columns small="2" large="2"><a href=""><img class="float-center max50" width="20" height="20" src="https://raw.githubusercontent.com/GarikGelios/Foundation-for-emails/master/src/assets/img/social%20icons/ok.png" alt=""></columns>
                <columns small="1" large="0"></columns>
            </row>
        </columns>
        
    </row>
    </columns>
    <columns small="0" large="3" class="show-for-large"></columns>
</row>