<row class="header">
    <columns small="0" large="5" class="show-for-large">
        <spacer size="8"></spacer>
        <spacer size="8"></spacer>
      </columns>
    <columns small="4" large="2">
      <spacer size="8"></spacer>
      <a href="https://my.lbr.ru/" target="_blank"><img width="78" height="27" src="https://raw.githubusercontent.com/GarikGelios/Foundation-for-emails/master/src/assets/img/lbr-logo-w.png"></a>
      <spacer size="8"></spacer>
    </columns>
    <columns small="8" large="5">
        <spacer size="16"></spacer>
        <p class="text-right"><a href="https://my.lbr.ru/" target="_blank">www.LBR.ru</a></p>
    </columns>
  </row>