<row class="manager-info">
    <columns small="1" large="3">
    </columns>
    <columns small="10" large="6">
        <spacer size="16"></spacer>
        <center>
            <img height="60" width="60" src="https://raw.githubusercontent.com/GarikGelios/Foundation-for-emails/master/src/assets/img/manager.jpg" alt="менеджер ЛБР-агромаркет" class="manager">
        </center>
        <spacer size="16"></spacer>
        <p class="text-center"><strong>{{manager-name}}</strong></p>
        <p class="text-center"><small>{{manager-position}}</small></p>
        <row>
            <columns>
                <p class="text-center"><a class="black-link" href="tel:{{manager-phone}}">{{manager-phone}}</a></p>
            </columns>
            <columns>
                <p class="text-center"><a class="simple-link" href="mailto:{{manager-email}}">{{manager-email}}</a></p>
            </columns>
        </row>
    </columns>
    <columns small="1" large="3">
    </columns>
</row>