<row class="bg-light-gray">
    <columns small="0" large="2" class="show-for-large">
    </columns>
    <columns small="12" large="8">
        <spacer size="16"></spacer>
        <h4 class="text-center"><strong>{{greeting}} {{name}}</strong></h4>
        <spacer size="16"></spacer>
        <p class="text-center">{{heading-text1}}</p>
        <!-- <p class="text-center">{{heading-text2}}</p>
        <p class="text-center">{{heading-text3}}</p> -->
    </columns>
    <columns small="0" large="2" class="show-for-large">
    </columns>
</row>