<row class="goods">
    <columns small="0" large="1" class="show-for-large">
    </columns>
    <columns small="12" large="5" >
        <img class="float-center goods-img" width="295" src="https://my.lbr.ru/image-cache/model-slider/img/products/6433/s9NntJDL0v.jpg">
        <spacer size="16"></spacer>
        <h6 class="text-bold">Нужна картофелекопалка для тяжелых почв?</h6>
        <p>Рекомендуем копалку КСТ с приводом элеватором на звене и активным лемехом.</p>
        <button class="radius hide-for-large expanded" href="#">Смотреть запчасти</button>
    </columns>
    <columns small="12" large="5" >
        <img class="float-center goods-img" width="295" src="https://my.lbr.ru/image-cache/model-slider/img/products/4280/oW9TO2FiOJ.jpg">
        <spacer size="16"></spacer>
        <h6 class="text-bold">Сеялка СПУ — дешевле не бывает!</h6>
        <p>Самая бюджетная пневматическая сеялка для зерновых и трав.</p>
        <button class="radius hide-for-large expanded" href="#">Смотреть запчасти</button>
    </columns>
    <columns small="0" large="1" class="show-for-large">
    </columns>
</row>

<row class="show-for-large">
    <columns small="0" large="1">
    </columns>
    <columns small="12" large="5">
        <button class="radius" href="#">Смотреть запчасти</button>
    </columns>
    <columns small="12" large="5">
        <button class="radius" href="#">Смотреть запчасти</button>
    </columns>
    <columns small="0" large="1">
    </columns>
</row>