<row>
    <columns small="0" large="1" class="show-for-large">
    </columns>
    <columns small="0" large="12">
        <a href="{{link-cta}}">
        <row class="{{bg-color}}">
            <columns small="3" large="4">
                <!-- <button href="{{link-cta}}" class="secondary"><img class="float-right"  src="/assets/img/download.png" alt=""></button> -->
                <spacer size="16"></spacer>
                <img class="float-right" src="/assets/img/download.png" alt="">
            </columns>
            <columns small="9" large="8">
                <spacer size="40"></spacer>
               <p class=""><strong>{{text-cta}}</strong></p> 
            </columns>
        </row>
    </a>
    </columns>
    <columns small="0" large="1" class="show-for-large">
    </columns>
</row>