<row>
    <columns small="0" large="1" class="show-for-large">
    </columns>
    <columns small="0" large="12">
        <a href="{{link-cta}}">
        <row class="{{bg-color}}">            
            <columns small="1" large="2">
            </columns>
            <columns small="2" large="2">
                <spacer size="16"></spacer>
                <img class="float-right" src="https://raw.githubusercontent.com/GarikGelios/Foundation-for-emails/master/src/assets/img/download.png" alt="">
            </columns>
            <columns small="9" large="8">
                <spacer size="40"></spacer>
               <a href=""><p class=""><strong>{{text-cta}}</strong></p> </a>
            </columns>
        </row>
    </a>
    </columns>
    <columns small="0" large="1" class="show-for-large">
    </columns>
</row>
<row>
    <columns small="0" large="1" class="show-for-large">
    </columns>
    <columns small="0" large="12">
        <p class="text-center">{{description-cta}}</p>
    </columns>
    <columns small="0" large="1" class="show-for-large">
    </columns>
</row>