<row class="banner">
    <columns small="12" large="12" class="banner-img-bg">
        <spacer size="16"></spacer>
        <row>
            <columns small="0" large="1" class="show-for-large">
            </columns>
            <columns small="12" large="10">
                <h3 class="m-0">Только свежий корм вашим коровкам!</h3>
                <h3>Без закисшего продукта.</h3>
            </columns>
            <columns small="0" large="1" class="show-for-large">
            </columns>
        </row>
        <row>
            <columns small="0" large="1" class="show-for-large">
            </columns>
            <columns small="12" large="8">
                <p>Выгрузка кормовой смеси из кормораздатчиков</p>
                <p>RBS свыше 99%</p>
            </columns>
            <columns small="12" large="2">
                <button class="radius" href="https://my.lbr.ru/ps/aePhli8xWJ1O">Подробнее</button>
            </columns>
            <columns small="0" large="1" class="show-for-large">
            </columns>
        </row>
    </columns>
</row>