<row>
    <columns small="0" large="1" class="show-for-large"></columns>
    <columns small="12" large="10">
        <p><em>Список изменений в оферте:</em></p>
        <ul>
            <li>05.08.2020 1. <b>Подшипник GW 211PP202</b> : Удалено 2шт.</li>
            <li>05.08.2020 3. <b>Долото PK8 правое (12,5мм) PK801101BP</b> был заменён аналогом <b>Долото PK8 правое (14,5мм) PK801101AF</b></li>
            <li>Адрес доставки: г. Москва, ул. Первомайская, д. 4</li>
            <li>Служба доставки: ЖэлДорЭкспедиция</li>
            <li>Терминал: Поперечный просек, 1Б Москва, Россия, 107113</li>
            <li>Включить в стоимость: да</li>
        </ul>
    </columns>
    <columns small="0" large="1" class="show-for-large"></columns>
</row>