<row class="manager-info">
    <columns>
        <spacer size="16"></spacer>
            <img height="64" width="64" src="https://raw.githubusercontent.com/GarikGelios/Foundation-for-emails/master/src/assets/img/manager.jpg" alt="менеджер ЛБР-агромаркет" class="small-float-center manager">
        <spacer size="16"></spacer>
        <p class="small-text-center"><strong>{{manager-name}}</strong></p>
        <p class="small-text-center"><small>{{manager-position}}</small></p>
        <p class="small-text-center"><a class="black-link" href="tel:{{manager-phone}}"><strong>{{manager-phone}}</strong></a></p>
        <p class="small-text-center"><a class="simple-link" href="mailto:{{manager-email}}">{{manager-email}}</a></p>
    </columns>
</row>