<row>
    <columns small="0" large="1" class="show-for-large">
    </columns>
    <columns small="0" large="10" class="cta-block">
        <spacer size="16"></spacer>
        <row>
            <columns small="0" large="2"></columns>
            <columns small="12" large="2" class="large-offset-1 p-0">
                <img src="https://raw.githubusercontent.com/GarikGelios/Foundation-for-emails/master/dist/assets/img/download.png"
                    alt="Download">
            </columns>
            <columns small="12" large="5" valign="middle" class="p-0"><a href="{{link-cta}}" class="cta-link">Перейти и посмотреть заявку</a></columns>
            <columns small="0" large="2"></columns>
        </row>
    </columns>
    <columns small="0" large="1" class="show-for-large">
    </columns>
</row>
<row>
    <columns small="0" large="1" class="show-for-large">
    </columns>
    <columns small="0" large="12">
        <spacer size="32"></spacer>
        <p class="text-center"><small>{{description-cta}}</small></p>
    </columns>
    <columns small="0" large="1" class="show-for-large">
    </columns>
</row>