<row class="header">
    <columns small="6" large="7" class="large-offset-5">
      <spacer size="8"></spacer>
      <a href="https://my.lbr.ru/" target="_blank"><img width="78" height="27" src="https://raw.githubusercontent.com/GarikGelios/Foundation-for-emails/master/src/assets/img/lbr-logo-w.png"></a>
      <spacer size="8"></spacer>
    </columns>
    <columns small="5" large="5">
        <spacer size="16"></spacer>
        <a href="https://my.lbr.ru/" target="_blank"><p class="text-right">www.LBR.ru</p></a>
    </columns>
  </row>