<callout class="{{booking-color}}">
    <row>
        <columns large="6">
            <p>
              <strong>From: </strong>
              <span>Larnaca airport</span>
            </p>
          </columns>
          <columns large="6">
            <p>
                <strong>To: </strong>
                <span>Paphos city</span>
            </p>
        </columns>
    </row>
    <row>
        <columns large="6">
            <p>
                <strong>Date: </strong>
                <span>30.10.2019</span>
            </p>
        </columns>
        <columns large="6">
            <p>
                <strong>Time: </strong>
                <span>7:30 PM</span>
            </p>
        </columns>
    </row>
    <row>
        <columns large="6">
            <p>
                <strong>Arrival number: </strong>
                <span>B2 883</span>
            </p>
        </columns>
        <columns large="6">
            <p>
                <strong>Name on arrival card: </strong>
                <span>John Doe</span>
            </p>
        </columns>
    </row>
    <row>
        <columns large="6">
            <p>
                <strong>Awaiting Companion: </strong>
                <span>Yes</span>
            </p>
        </columns>
    </row>
</callout>

<h4>Booking Details</h4>

<table>
    <tr><th>Item</th><th>#</th><th>Price</th></tr>
    <tr><td>Seats in the car</td><td><span>2</span></td><td><span>85€</span></td></tr>
    <tr><td>Extra luggage allowance</td><td><span>+1</span></td><td><span>5€</span></td></tr>
    <tr><td>Сhild seat</td><td><span>1</span></td><td><span>5€</span></td></tr>
    <tr>
        <td colspan="2"><b>Subtotal:</b></td>
        <td><b><span>95€</span></b></td>
    </tr>
    <tr>
        <td colspan="2">Total, with companion:</td>
        <td><span>60€</span></td>
    </tr>
</table>