
<h4>What's Next?</h4>

<p>We have added your booking to the drivers schedule. You will be met at the airport with a sign indicating your name.</p>

<h4>What about Cashback?</h4>

<p>If there are passengers with the same route, they will be added to you as companions. You will receive a cashback within 24 hours.</p>

<spacer size="16"></spacer>

    <button class="expand radius" target="_blank" href="http://transfer.in-dev.work/faq/">Read more in F.A.Q.</button>

<spacer size="16"></spacer>

<hr/>