<callout class="{{booking-color}}">
    <row>
        <columns large="6">
            <p>
              <strong>From: </strong>
              <span>\{{ order.from_location }}</span>
            </p>
          </columns>
          <columns large="6">
            <p>
                <strong>To: </strong>
                <span>\{{ order.to_location }}</span>
            </p>
        </columns>
    </row>
    <row>
        <columns large="6">
            <p>
                <strong>Date: </strong>
                <span>\{{ order.date }}</span>
            </p>
        </columns>
        <columns large="6">
            <p>
                <strong>Time: </strong>
                <span>\{{ order.time }}</span>
            </p>
        </columns>
    </row>
    <row>
        <columns large="6">
            <p>
                <strong>Arrival number: </strong>
                <span>\{{ order.arrival_number }}</span>
            </p>
        </columns>
        <columns large="6">
            <p>
                <strong>Name on arrival card: </strong>
                <span>\{{ order.arrival_card }}</span>
            </p>
        </columns>
    </row>
    <row>
        <columns large="6">
            <p>
                <strong>Awaiting Companion: </strong>
                <span>\{{ order.joint|yesno:'Yes,No' }}</span>
            </p>
        </columns>
    </row>
</callout>