<row class="header">
    <columns small="3" large="2">
      <spacer size="16"></spacer>
      <a href="http://transfer.in-dev.work/" target="_blank"><img src="http://transfer.in-dev.work/static/frontend/assets/img/logo-2.png"></a>
      <spacer size="16"></spacer>
    </columns>
    <columns small="9" large="10">
        <spacer size="16"></spacer>
        <h4 class="text-left"><a href="http://transfer.in-dev.work/" target="_blank">Transfer Companion</a></h4>
        <spacer size="16"></spacer>
    </columns>
  </row>