@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');
$body-font-family: 'Inter', sans-serif;

$global-width: 760px;
$primary-color: #f39314;
$secondary-color: #fdefdc;
$success-color: #f4f6f8;

$button-radius: 4px;

// style rules
body,
html,
.body {
  background: $dark-dark-gray !important;
}

.header {
  background: $primary-color;
}
.orange {
  color: $primary-color;
}
.header p a {
  color: white !important;
}
.footer-text {
  font-size: 90%;
}

.cta-block {
    background-color: $secondary-color;
    border-radius: 5px;
    p {
        padding-left: $global-padding;
        color: #0063d1 ;
    }
}
.manager {
    border-radius: 50%;
    max-width: 150px;

}
.simple-link {
    color: #0063d1;
    text-decoration: underline;
}
.black-link {
    color: $black;
}
.cta-link {
  color: #0063d1;
  font-weight: 700;
  &:visited{
    color: #0063d1;
  }
}

.bg-gray {
    background-color: $medium-gray;
}
.bg-dark-dark-gray {
    background-color: $dark-dark-gray;
}
.bg-light-gray {
    background-color: $light-gray;
    p {
      color: $dark-gray;
    };
}

.max35 {
  max-width: 35px;;
}

.p-0 {
  padding: 0!important;
}
.p-16 {
  padding: 16px!important;
}

.m-0 {
  margin: 0!important;
}

.banner {
  h1 {
    color: $white;
    font-weight: 600;
  }
  p {
    color: #FDEFDC;
    font-size: 16px;
    font-weight: 600;
  }
}

.text-bold {
  font-weight: bold;
}

.button {
 a {
  color: $white!important;
  font-size: $global-font-size;
 }
}
.button.warning {
  a {
   color: #0063d1!important;
   font-size: $global-font-size;
  }
 }

.banner-img-bg{
  background-image: url('https://cdn.pixabay.com/photo/2018/07/01/00/33/cow-3508678_1280.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

th.callout-inner.warning {
  background: $warning-color;
}

.regular {
  font-weight: 400;
}

.goods-img {
  width: 295px;
}

.text-gray {
  color: $gray;
}

.text-black {
  color: $black;
}