$primary-color: #54026B;
$secondary-color: #9F53B5;

// style rules
body,
html, 
.body {
  background: #f1e5f4 !important;
}
.header {
    background: $secondary-color;
  }
h4 a {
    color: white !important;
}
.footer-text {
    font-size: 90%;
}
