$primary-color: #54026B;
$secondary-color: #9F53B5;

// style rules
body,
html, 
.body {
  background: #f1e5f4 !important;
}
.header {
    background: $secondary-color;
  }
h4 a {
    color: white !important;
}
.footer-text {
    font-size: 90%;
}
$h1-font-size: 32px;
$button-background: $primary-color;
$button-color: $white;
$anchor-color: $primary-color;
$anchor-color-visited: $anchor-color;
$callout-border: 1px solid darken($callout-background, 20%);
$callout-border-secondary: 1px solid darken($secondary-color, 20%);
